[submodule "third-party/stb_image"]
	path = third-party/stb_image
	url = https://github.com/nothings/stb.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/assimp"]
	path = third-party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third-party/poisson_disk_sampling"]
	path = third-party/poisson_disk_sampling
	url = https://github.com/thinks/poisson-disk-sampling.git
[submodule "third-party/tbb"]
	path = third-party/tbb
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/argparse"]
	path = third-party/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "third-party/patterns"]
	path = third-party/patterns
	url = https://github.com/mpark/patterns.git
